* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-items: center;
}

h1,
h2 {
	margin: 2vh 0vh 2vh 0vh !important;
	text-align: center;
}

h2 span {
	font-size: 1.4rem;
}

p,
ul,
ol {
	width: 80%;
	text-align: center;
	align-items: center;
}

.btnContainer {
	width: 70%;
}

.btnContainerTop,
.btnContainerBot {
	display: flex;
	gap: 2vw;
	margin-bottom: 2vw;
	justify-content: center;
}

button {
	font-weight: bold !important;
	text-transform: uppercase !important;
	height: 60px;
	width: 50%;
}
