* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
}

h1,
h2 {
	margin: 2vh 0vh 2vh 0vh !important;
	text-align: center;
}

h2 span {
	font-size: 1.4rem;
}

p,
ul {
	width: 60%;
	text-align: justify;
}

.btnContainer {
	display: flex;
	width: 70%;
	gap: 2vw;
}

button {
	font-weight: bold !important;
	text-transform: uppercase !important;
	height: 60px;
	width: 50%;
	margin: 4vh 0vh !important;
}
