* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-items: center;
}

h1,
h2 {
	margin: 2vh 0vh 2vh 0vh !important;
	text-align: center;
	font-weight: bolder !important;
}

h2 span {
	font-size: 1.4rem;
}

p,
ul,
ol {
	width: 80%;
	text-align: center;
	align-items: center;
}

p {
	font-size: 1.4rem;
}

.btnContainer {
	width: 70%;
}

.btnContainerTop,
.btnContainerBot {
	display: flex;
	gap: 2vw;
	margin-bottom: 2vw;
	justify-content: center;
}

button {
	font-weight: bold !important;
	text-transform: uppercase !important;
	height: 60px;
	width: 50%;
}

.container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	gap: 10px;
	width: 90% !important;
}

.card {
	color: #fff !important;
	background-image: linear-gradient(to bottom, #10971b, #10350be3);
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: start;
	overflow: hidden;
	max-height: 42px;
	position: relative;
	transition: max-height 0.5s ease-in-out;
}

.card.expanded {
	max-height: 1000px;
	background-image: linear-gradient(to bottom, #19d128, #10350be3);
}

.card::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 40px;
	background-color: transparent;
	border-radius: 5px 5px 0 0;
	transition: background-image 1.2s ease;
}

.card:hover::before {
	background-image: linear-gradient(to bottom, #19d128, #351a1a00);
}

.title {
	font-weight: bold;
	z-index: 11;
	margin-bottom: 5px;
}

button {
	background-color: #1c8129ee !important;
	border: green !important;
}

button:hover {
	background-color: #19d128 !important;
	border: rgb(9, 75, 9) !important;
}

@media (max-width: 1200px) {
	.container {
		grid-template-columns: repeat(4, 1fr);
	}
}

@media (max-width: 992px) {
	.container {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 768px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 576px) {
	.container {
		grid-template-columns: 1fr;
	}
}
