* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Arial", sans-serif;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-items: center;
}

h1,
h2 {
	margin: 2vh 0vh 2vh 0vh !important;
	text-align: center;
	font-weight: bolder !important;
}

h2 span {
	font-size: 1.4rem;
}

p,
ul,
ol {
	width: 80%;
	text-align: center;
	align-items: center;
}

.btnContainer {
	width: 70%;
}

.btnContainerTop,
.btnContainerBot {
	display: flex;
	gap: 2vw;
	margin-bottom: 2vw;
	justify-content: center;
}

button {
	font-weight: bold !important;
	text-transform: uppercase !important;
	height: 60px;
	width: 50%;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 10px;
	width: 60% !important;
}
.card {
	color: #fff !important;
	background: linear-gradient(135deg, #0b3517e3, #1c8129ee);
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.title {
	font-weight: bold;
}
