<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Hojas de estilos -->
    <link rel="stylesheet" href="../CSS/normalize.css">
    <link rel="stylesheet" href="../CSS/styles.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <title>PocketEco - About Us</title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container">
            <a class="navbar-brand" href="../index.html">PocketEco</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="dashboard.html">Gestionar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="functions.html">Funciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="aboutUs.html">Nosotros</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Hero Section -->
    <section class="hero-section text-center mb-5">
        <h1 class="app-title">Sobre Nosotros</h1>
        <p class="app-description mx-auto">
            PocketEco es una herramienta diseñada para ayudarte a gestionar tus finanzas personales de manera eficiente
            y sencilla. Nuestro objetivo es empoderarte para que tomes el control de tus ingresos y gastos, logrando una
            mejor planificación financiera.
        </p>
    </section>

    <!-- About Us Content -->
    <section class="about-us-section container text-center">
        <div class="align-items-center mb-5">
            <h2 class="section-title">Quien soy?</h2>
            <p class="app-description mx-auto">
                Soy Francisco Bonet, desarollador Web Junior con conocimientos en python orientado a data (pandas y
                numpy).
                Actualmente estudio Ingenieria en Inteligencia Artificial en la UNL en Argentina.
                Esta aplicacion esta desarrollada para evaluar mis aptitudes de desarrollo en JavaScript. Para el
                front-end
                se utilizo Bootstrap, CSS y V0 by Vercel para acelerar el desarrollo
            </p>
        </div>
        <div class="align-items-center">
            <div class="image-about-us">
                <img src="../Assets/img/perfilCleanQuad.jpg" alt="img_profile" class="img-fluid rounded-circle">
            </div>
        </div>
    </section>

    <!-- Call to Action -->
    <section class="cta-section text-center py-5">
        <h2 class="cta-title">¿Listo para tomar el control de tus finanzas?</h2>
        <p class="cta-description">
            Únete a nuestra comunidad y comienza a gestionar tus ingresos y gastos con PocketEco.
        </p>
        <a href="dashboard.html" class="btn btn-primary btn-lg">Comienza ahora</a>
    </section>

    <!-- Pie de pagina -->
    <footer class="footer">
        <div class="container">
            <p class="footer-text">Esta pagina fue desarollada por Bn'T con copyright reservado © 2025</p>
        </div>
    </footer>

    <!-- Scripts de bootstrap -->
    <script type="module" src="../JS/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
        integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
        crossorigin="anonymous"></script>
</body>

</html>